/* Document styling **************************************************************************************************************************** */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: linear-gradient(
    90deg,
    var(--main-bg-color),
    var(--gradient-color) 50%,
    var(--main-bg-color)
  );
}

*::selection {
  background-color: var(--time-color);
  color: var(--border-color);
}

address {
  all: unset;
}

hr {
  width: 10em;
  border: 1px solid var(--border-color);
}
/* custom-properties *************************************************************************************************************************** */

:root {
  --text-color: black;
  --subheader-color: indigo;
  --main-bg-color: #f3e0e5;
  --border-color: white;
  --time-color: #ae0d7e;
  --header-color: #ecc0cb;
  --profession-color: #f09bb2;
  --border-color-transparent: #ffffff44;
  --time-color-transparent: #aa1f81aa;
  --gradient-color: #9a86b1;
}

/* font-styling ******************************************************************************************************************************** */

@font-face {
  font-family: "HindSiliguri";
  src: url("fonts/Hind_Siliguri/HindSiliguri-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("fonts/Hind_Siliguri/HindSiliguri-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("fonts/Hind_Siliguri/HindSiliguri-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "HindSiliguri";
  src: url("fonts/Hind_Siliguri/HindSiliguri-Regular.ttf");
  font-weight: 400;
}
html {
  font-family: "HindSiliguri";
  font-weight: 200;
  font-size: 16px;
}

h1 {
  font-family: "HindSiliguri", sans-serif;
  margin-bottom: 0.1em;
  color: var(--header-color);
}

h2 {
  font-family: "HindSiliguri", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "HindSiliguri", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h2,
h3 {
  color: var(--subheader-color);
}

/* classes ************************************************************************************************************************************************* */

.header {
  text-align: center;
  background-image: linear-gradient(#550aaa 25%, #aa1f81, #aa1f81aa 90%);
  padding: 1.5em 1em 1.5em 1em;
  position: relative;
}

.main {
  max-width: 90ch;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: var(--main-bg-color);
  border-top: 3px solid var(--border-color);
  line-height: 1.7rem;
}

.nav-style {
  padding: 0.4em;
  margin-left: 1em;
  color: var(--subheader-color);
  transition: transform 0.3s ease-in;
}

.between-article {
  padding-top: 1.9rem;
  margin-top: 1.9rem;
  border-top: 3px solid var(--border-color);
}

.between-section {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.contact-link {
  color: var(--time-color);
}
.hire-me {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  background: var(--subheader-color);
  color: var(--main-bg-color);
  padding: 0.8rem;
  border: 1px solid var(--border-color);
}

.position-heading {
  position: relative;
  left: -1rem;
}

.time {
  border: 1px solid var(--border-color);
  padding: 0.05rem 0.4rem;
  margin-top: 0.5em;
  font-size: 0.9em;
  color: var(--time-color);
  background-color: var(--border-color-transparent);
}

.header-style {
  font-size: 2.4rem;
  transition: color 0.3ms ease;
}

.subheader-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.footer {
  /*max-width: 90ch;*/
  margin: 0 auto;
  padding: 2rem 1rem;
  border-top: 3px solid var(--border-color);
  background-image: linear-gradient(#aa1f81aa, #aa1f81, #550aaa 85%);
  text-align: center;
}

.button {
  background-color: var(--main-bg-color);
  padding: 0.4em 0.9em 0.4em 0.9em;
  border-radius: 0.3em;
  margin: 0.5em 0.3em;
  border: 1px solid var(--header-color);
  transition: transform 0.3s ease-in;
  transition: background-color 0.3s ease;
}

/* ids ****************************************************************************************************************************************************** */
#contact {
  color: var(--header-color);
}

#nav {
  display: flex;
  flex-direction: column;
}

#profession {
  font-size: 0.6em;
  margin-top: 0em;
  color: var(--profession-color);
}

/* special selectors *************************************************************************************************************************************** */

.nav-style:hover {
  background-color: var(--subheader-color);
  color: var(--main-bg-color);
  transform: scale(1.2);
}
.nav-style:active {
  color: var(--header-color);
}
#profession::after {
  content: " 👀";
}
h1:hover {
  color: #bcb175;
}

#profession:hover {
  color: #bcb175;
}

.button:hover {
  transform: scale(1.2);
  background-color: #bcb175;
}

main > article {
  padding-left: 2rem;
  padding-right: 2rem;
}
main > address {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* media-queries ****************************************************************************************************************************** */

@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }

  #nav {
    flex-direction: row;
    justify-content: center;
  }

  .subheader-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .time {
    font-size: 0.8em;
  }

  .skill-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .main {
    padding: 1.8rem 1.8rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .hire-me {
    position: fixed;
    right: 0;
    top: 0;
  }

  /* .between-article {
    padding-top: 2.2em;
    margin-top: 2.2em;
    border-top: 3px solid white;
  }*/
}

@media print {
  .hire-me,
  #nav {
    display: none;
  }
}
